{% extends 'base.html' %}


{% block title %}ToDo-Tareas{% endblock title %}

{% block main %}

<br>

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'app:ingresarTarea' %}" role="button">Agrega una nueva tarea</a>
    </div>
    <div class="card-body">
        <h3 class="card-title">Tareas</h3>

        <h4>{{ user.username}}, estas son tus Tareas!!</h4>
        <div>
            <a name="" id="" class="btn btn-primary" href="{% url 'app:tareas' %}" role="button">Pendientes</a>
        </div>

        <div class="table-responsive">
            <table class="table table-light">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Título</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Fecha de termino</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Categoria</th>
                    </tr>
                </thead>
                <tbody>

                    {% comment %} La consulta de los datos del for viene de la views en tareas {% endcomment %}
                    {% for tarea  in tareas %}
                    <tr class="">
                        <td scope="row">{{ tarea.id }}</td>
                        <td>{{ tarea.titulo }}</td>
                        <td>{{ tarea.descripcion }}</td>
                        <td>{{ tarea.fechaTermino }}</td>
                        <td>{{ tarea.estado }}</td>
                        <td>{{ tarea.categoria }}</td>
                       
                       
                        {% comment %} <td><a name="" id="" class="btn btn-info" href="{% url 'app:editar' libro.id %}" role="button">Editar</a> |  <a name="" id="" class="btn btn-danger" href="{% url 'app:eliminar' libro.id %}" role="button">Eliminar</a></td> {% endcomment %}
                    </tr>

                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">
        Footer
    </div>
</div>



{% endblock main %}   