{% extends 'base.html' %}

{% block main%}  
{% load static %}

<div class="container">

<h3> Para que nada se te pase, SAVE THE DATE</h3>
<br>

<div class="card card__login">
    <div class="card-header">
        LOGIN
    </div>
    <div class="card-body">
        <form action="" method = 'POST'>
            {% csrf_token %}
        
            <input type="text" name = 'username' id="" placeholder='Nombre de usuario'>
            <br>
            <input type="password" name="password" id='' placeholder='Contraseña'>
            <br>
        
            <button type="submit">Iniciar Sesion</button>
        </form>        
    </div>    
</div>
</div>
{% endblock main %}