{% extends 'base.html' %}
{% block title %}ToDo {% endblock title %}

{% block main %}
{% load static %}

{% load crispy_forms_tags %}

<h3>Registrate y no olvidaras nada</h3>

<br />
<div class="row">
  <div class="col-xs-12 col-sm-6 card__registro--centrar">
<form action="" method="POST">
  {% csrf_token %}

  <div class="card mx-auto card_registro">
    <div class="card-body">
      <h5 class="card-title">Complete todos los Campos</h5>

      {{ form | crispy }}
     
      
      <a href="{% url 'login' %}" class="card-link btn btn-sm btn-dark">Iniciar Sesion</a>
      <button class="btn btn-sm btn-dark float-end" type="submit">Registrarse</button>
    </div>
  </div>
</form>
</div>
</div>



{% endblock main %}    